.hero-content {
  text-align: center;
}

.hero-title {
  color: #373737;
  font-weight: 600;
  font-size: 31.25px;
  line-height: 123.6%;
}

.hero-subtitle {
  color: #7b7b7b;
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
}

.hero-image {
  max-width: 100%;
}

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #fff7f4;
  padding: 50px 16px 50px 16px;
  align-items: center;
}

span {
  color: #ff5300;
}
